<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://https://github.com/Rabidwhale">Michael</a>. A young student with little coding experience, is studying at UC Berkeley's coding boot camp extension.
  </p>
  <br />
  <p>
  In hopes of becoming a better programmer and one day having a job in the tech industry, Michael spends his time learning the basics of coding. 
</p>
<p>
  If you want to learn how to code - start <a target="_blank" href-"https://online.bootcampspot.com"> here</a>
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'michael.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Michael Williams</h2>
    <br />
    <p>
      Michael Williams is a Seafood Department clerk at Whole Foods. After graduating high school he decided that coding was the best route to take in life and right now is studying to become a developer. 
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />